# version: "3.9"

# services:
#   api:
#     build: ./backend
#     container_name: teacher-api
#     restart: always
#     volumes:
#       - ./backend/app:/app/app 
#       - ./data:/app/data
#     ports:
#       - "8000:8000"
#     depends_on:
#       - mongo

#   mongo:
#     image: mongo:6
#     container_name: mongo
#     restart: always
#     environment:
#       MONGO_INITDB_ROOT_USERNAME: admin
#       MONGO_INITDB_ROOT_PASSWORD: admin123
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo-data:/data/db

#   mongo-express:
#     image: mongo-express
#     container_name: mongo-express
#     restart: always
#     ports:
#       - "8081:8081"
#     environment:
#       ME_CONFIG_MONGODB_ADMINUSERNAME: admin
#       ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
#       ME_CONFIG_MONGODB_SERVER: mongo
#       ME_CONFIG_BASICAUTH_USERNAME: admin
#       ME_CONFIG_BASICAUTH_PASSWORD: admin123

# volumes:
#   mongo-data:


version: "3.9"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: teacher-api
    restart: always

    volumes:
      - ./backend/app:/app/app             # Your FastAPI code
      - ./backend/data:/app/data           # Data folder with uploads
      - model-cache:/root/.cache           # Whisper + HuggingFace persistent cache


    ports:
      - "8000:8000"

    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123

volumes:
  mongo-data:
  model-cache:
